body {
    background-color: black;
    color: white;
}

h2 {
    font-family: 'EB Garamond', serif;
}

.container {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    padding: 15px; 
}
.jumbotron {
    background-color: #0C0238;
    font-family: 'EB Garamond', serif;
}

.jumbotron p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.sidebar {
    width: 30%;
    float: left;
    background-color: #0C0238;
    border-radius: 10px;
    padding: 15px;
}

.cats {
    font-size: 110%;
}

.well {
    background-color: #0C0238;
    border-radius: 10px;
    border-color: black;
    padding: 15px;
}
img {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#contact {
    float: left;
    width: 20%;
    margin-right: 20px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    padding: 4px 4px 4px 4px;
    background-color: #0C0238;
    color: #fff;
}